* {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: black;
}

/* Common Part */

.main-body {
  width: 80%;
  margin: 0 auto;
  text-align: justify;
  /* outline: 1px solid black; */
}

section {
  width: 100%;
  margin-bottom: 100px;
  /* outline: 1px solid green; */
}

.flexible-container {
  display: flex;
  justify-content: space-around;
}

h1 {
  font-size: 50px;
}

.half-60 {
  width: 60%;
}

.half-40 {
  width: 40%;
}

.half-40 img {
  width: 80%;
}

/* First Part */
.pink-font {
  color: #ff408c;
}

.outline {
  border-left: 5px solid;
  border-image: linear-gradient(salmon, tomato);
  border-image-slice: 1;
  padding-left: 10px;
  margin-top: 150px;
  /* outline: 1px solid black; */
}

.first-part p {
  padding-right: 30%;
}

.link-btn {
  display: inline-block;
  background-color: skyblue;
  color: white;
  padding: 10px 30px;
  margin: 30px 0;
  border-radius: 5px;
}

/* Second Part */
.second-part h1 {
  text-align: center;
  margin-bottom: 50px;
}

.card h3,
p {
  margin: 5px 0;
}

.card {
  width: 25%;
  padding: 2%;
  border-radius: 15px;
  box-shadow: 10px 16px 20px gray;
}

.card img {
  width: 160px;
  height: 160px;
}

.sky-background {
  background-color: #007bff1c;
}
.gray-background {
  background-color: #6c757d23;
}
.paste-background {
  background-color: #17a3b82a;
}

/* Fourth Part */
.fourth-part .half-40 img {
  float: right;
}

footer {
  text-align: center !important;
  background-color: #101010;
  padding: 50px 0;
}
